<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:4000/main.css">
    <title>Netflix</title>
</head>

<body>
    <header>
        <h1 class="mainTitle">Detalles de la película/serie</h1>
    </header>
    <main class="main">
        <a href="../" class="link">Volver a Inicio</a>
        <p class="text">Identificador: <%= id %>
        </p>
        <p>Nombre de la película: <%= title %>
        </p>
        <p>Género: <%= gender %>
        </p>
        <img src=<%=image %> alt="Imagen de la película <%= title %>" />
    </main>
</body>

</html>